<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>cursos-docente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Cursos docente</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-item>
    <ion-label>Seleccione un curso</ion-label>
    <ion-select placeholder="Seleccione un curso">
      <ion-select-option value="1">Curso 1</ion-select-option>
      <ion-select-option value="2">Curso 2</ion-select-option>
      <ion-select-option value="3">Curso 3</ion-select-option>
    </ion-select>
    </ion-item>
  </ion-content>
