<ion-header>
  <ion-toolbar color="tertiary">
    <ion-icon slot="start" name="menu" class="ion-padding" size="large"></ion-icon>
    <ion-title class="ion-text-center">Registro de Asistencia</ion-title>
    <ion-icon slot="end" name="person-outline" class="ion-padding" size="large"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-text color="primary" class="ion-text-center">
    <h1>Bienvenido a RegistrAPP</h1>
  </ion-text>
  
  <ion-list [inset]="true" lines="full" mode="ios">
    <ion-list-header mode="ios" color="primary">
      <ion-label>Acciones</ion-label>
    </ion-list-header>

    <!-- Botón para Generar QR -->
    <ion-item button routerLink="/generate-qr">
      <ion-icon slot="start" name="qr-code-outline"></ion-icon>
      <ion-label>Generar QR</ion-label>
    </ion-item>

    <!-- Botón para Escanear QR -->
    <ion-item button routerLink="/scan-qr">
      <ion-icon slot="start" name="camera-outline"></ion-icon>
      <ion-label>Escanear QR</ion-label>
    </ion-item>

    <!-- Botón para Ver Perfil -->
    <ion-item button routerLink="/profile">
      <ion-icon slot="start" name="person-outline"></ion-icon>
      <ion-label>Ver Perfil</ion-label> <!-- Corregido -->
    </ion-item>

    <!-- Botón para Cerrar Sesión -->
    <ion-item button routerLink="/logout">
      <ion-icon slot="start" name="log-out-outline"></ion-icon>
      <ion-label>Cerrar Sesión</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
